.slider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.arrow {
    border: none;
    background: white;
    cursor: pointer;
}

.slider.dark .arrow {
    background-color: #23272f;
    color: #f6f6f9;
}

.slider.light .arrow {
    background-color: #fff;
    color: black;
}